<h1>/Tip So</h1>

<p>
  <b>Name</b><br>
  <%= @tip_so.name %>
</p>

<div class="form-actions">
  <%= link_to 'Back', tip_sos_path, :class => 'btn'  %>
  <%= link_to 'Edit', edit_tip_so_path(@tip_so), :class => 'btn' %>
  <%= link_to 'Delete', tip_so_path(@tip_so), :method => 'delete', :confirm => 'Are you sure?', :class => 'btn btn-danger' %>
</div>
