<h1>Тип документа
  <%= @tip_doc.name %>
</h1>


<table class="table table-striped">
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Created at</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
<%= render @tip_doc.docs %>
  </tbody>
</table>

<div class="form-actions">
  <%= link_to 'Новый документ', new_doc_path(:tip_docum => @tip_doc.id), :class => 'btn'  %>
</div>
