<h1>Расчет потребности по СИЗ: <%= @date_req %></h1>
<p>Find me in app/views/requirement/index.html.erb</p>

<%= form_tag ('/requirement') do %>

    <%= label_tag "На дату" %>
    <%= text_field_tag "date_req",nil%>

<% end %>