
<tr class="nested-fields blabla-fields">
      <td>Номер</td>
      <td>СИЗ</td>
      <td>Инвентарный номер</td>
      <td>Размер</td>
      <td>Размер головы</td>
      <td>Размер обуви</td>
      <td>Рост</td>
      <td><%= f.input :kol, :wrapper => :small %></td>
      <td><%= link_to_remove_association 'Удалить строку', f, :class =>'btn btn-mini'  %></td>
</tr>
